{% extends 'base_admin.html' %}
{% load bootstrap3 %}

{% block title %}
    Agregar Preguntas
{% endblock %}

{% block body %}
<div class="col-md-6 col-md-offset-3  ">              
    <div class="Compose-Message">               
        <div class="panel panel-default">
            <div class="panel-heading">
               <P> {% if not pregunta %}Agregar pregunta{% else %}Modificar {{ pregunta.Descripcion }}{% endif %}</P>
            </div>
            <div class="panel-body panel-body-com-m">
              
                <form action="" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                      {% buttons %}
                        <button type="submit" class="btn btn-warning warning_22">
                           Guardar
                        </button>
                        <button onclick="history.back()" class="btn btn-default">
                           Cancelar
                        </button>
                      {% endbuttons %}
                </form>
            </div>
         </div>
      </div>
</div>
{% endblock %}