{% extends 'base_admin.html' %}
{% load bootstrap3 %}

{% block title %}
    Comentarios
{% endblock %}

{% block head %}         
        
{% endblock %}

{% block body %}
<h1 class="page-header" >
      <i class="fa fa-comments-o negro"></i> Comentarios 
</h1>


<form action="{% url 'main:comentario_eliminar' %}" name="f1" method="post"  onsubmit="return confirm('¿Desea borrar los comentarios seleccionados?');"> 
<div class="panel panel-ut" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
    <div class="panel-heading">

        <button style="margin-top: -13px" id="e" class="btn btn-danger warning_22 " disabled="disabled" type="submit" ><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</button>    
    
    </div>
    <div class="panel-body no-padding" style="display: block;">
  
     {% csrf_token %} 



        <table class="table table-striped">
            <thead>
                <tr>
                    <th><input name="checktodos" type="checkbox" /> </th>
                    <th>Id</th>
                    <th>Comentario </th>
                    <th>Catalogo</th>
                    <th>Periodo</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for comentarios in comentario %}
                    <tr>
                        <td><input type="checkbox" name="comentarios" value="{{comentarios.pk}}"></td>
                        <td>{{ comentarios.id }} </td>
                        <td>{{ comentarios.Comentario }} </td>
                        <td>{{ comentarios.Catalogo }} </td>
                        <td>{{ comentarios.Periodo }} </td>
                                       
                    </tr>
                      {% empty %}
                            <div class="alert alert-dismissible alert-warning">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <h4>No hay Comentarios aun!</h4>
                            </div>
                {% endfor %}
            </tbody>
        </table>
        <br>

   

    </div>
</div>
</form>
<script type="text/javascript">
$(document).ready(function(){

    //Checkbox
    $("input[name=checktodos]").change(function(){
        $('input[type=checkbox]').each( function() {         
            if($("input[name=checktodos]:checked").length == 1){
                this.checked = true; 
                $("#e").attr('disabled',false);  

            } else {
                this.checked = false; 
                $("#e").attr('disabled',true);   
            }
        });
    }); 
});
</script>
{% endblock %}
