{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
{% block login %}{% endblock %}
<title>Evaluación</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
 
<link href="{% static 'css/Profile.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"/> 
<!-- jQuery -->
<!-- lined-icons -->
<link rel="stylesheet" href="{% static 'css/icon-font.min.css' %}" type='text/css' />
<!-- //lined-icons -->
<!-- chart -->
<script src="{% static 'js/Chart.js' %}"></script>
<!-- //chart -->
<!--animate-->
<link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css" media="all"/>

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
<script src="{% static 'js/wow.min.js' %}"></script>
    <script>
         new WOW().init();
    </script>
<!--//end-animate-->

 <!-- Meters graphs -->
<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<!-- Placed js at the end of the document so the pages load faster -->

</head> 
   
 <body >
    <section>
    <!-- header-starts -->
    <div class="header-section navbar-fixed-top" >
        
         <p><img src="{% static 'img/ut.png' %}" id="ut" class="img-responsive left-block"></p>
    </div>
    <br>
    <br>
    <!-- //header-ends -->
        <div id="page-wrapper">
          <div class="row">{% bootstrap_messages %}</div>
          <div class="row">
             <div class="col-md-2">
                    <div class="profile-sidebar grid_3 grid_3 ">
                      <!-- SIDEBAR USERPIC -->
                      <div class="profile-userpic">
                        <img src="{% static 'img/1.png' %}" class="img-responsive" alt="">
                      </div>
                      <!-- END SIDEBAR USERPIC -->
                      <!-- SIDEBAR USER TITLE -->
                      <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                          {{ user.first_name|capfirst}}  {{ user.last_name|capfirst}}                        
                        </div>
                        <div class="profile-usertitle-job">
                          Alumno
                        </div>
                      </div>
                      <!-- END SIDEBAR USER TITLE -->
                      <!-- SIDEBAR BUTTONS -->
                      <div class="profile-userbuttons">
                      <a href="{% url 'main:logout' %}"  class="btn btn-danger btn-sm">Cerrar Sesión</a>
                      </div>
                      <!-- END SIDEBAR BUTTONS -->
                      <!-- SIDEBAR MENU -->
                      <div class="profile-usermenu">
                        <ul class="nav">
                          <li>
                            <a href="#">
                            <i class="fa fa-hashtag gris"></i>
                            Matricula: {{ user.username}}</a>
                          </li>
                          <li>
                            <a href="#"class="disabled">
                            <i class="fa fa-users gris"></i>
                            Grupo: {{ user.Grupo}}</a>
                          </li>
                          <li >
                            <a href="#" >
                            <i class="fa fa-map gris"></i>
                              Carrera: {{user.Carrera}}</a>
                          </li>
                        </ul>
                      </div>
                      <!-- END MENU -->

                      <!---->
                  </div>
            </div>
                      {% block head %}{% endblock %}
                      
                      {% block body %}{% endblock %}
              
          </div> 
        </div>
        <!--footer section start-->
            <footer>
               <p>© 2016 Universidad Tecnológica de San Luis Río Colorado</p>
                
            </footer>
        <!--footer section end-->
    </section>

<script>
$(document).on("click", "[data-toggle=\"confirm\"]", function (e) {
    e.preventDefault();
    var lHref = $(this).attr('onclick');
    var lText = this.attributes.getNamedItem("data-title") ? this.attributes.getNamedItem("data-title").value : "Esta seguro?"; 
    bootbox.confirm(lText, function (confirmed) {
        if (confirmed) {
            window.location = lHref; 
        }
    });
});
</script>
<script src="{% static 'js/Cambios.js' %}"></script>
<!-- JS dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- bootbox code -->
<script src="{% static 'js/bootbox.min.js' %}"></script>
<script src="{% static 'js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
