{% extends 'base_sieda.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
Principal
{% endblock %}


{% block login %}
    <section>
			<div id="page-wrapper" class="sign-in-wrapper">
				<div class="graphs">
					<div class="sign-in-form">
						<div class="sign-in-form-top">
						<h1><span class="grey"><i class="fa fa-user"></i></span></h1>
						<p>Bienvenido</p>
						</div>
						<div class="signin">
			            	<form role="form" method="POST">{% csrf_token %}
							<div class="log-input">
								<p>Por favor, ingrese el usuario y contraseña</p>
								<br>
								<input type="text" class="user"  name="username" placeholder="Usuario" />
								<div class="clearfix"> </div>
							</div>
							<div class="log-input">
								<input type="password" class="lock" name="password" placeholder="Contraseña" />
								<div class="clearfix"> </div>
							</div>
							<p><small> <span class="pull-right"><a data-toggle="modal" href="#myModal"> ¿Olvidó su contraseña?</a></span></small></p>
							<br>
							<br>
							<button class="btn btn-lg btn-login btn-warning btn-block" type="submit">Ingresar</button>
						
						            

						            <!-- Modal -->
						            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
						                <div class="modal-dialog">
						                    <div class="modal-content">
						                        <div class="modal-header">
						                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						                            <h4 class="modal-title">¿Olvidó su contraseña?</h4>
						                        </div>
						                        <div class="modal-body">
						                            <p>Introduzca su dirección de correo electrónico para restablecer su contraseña.</p>
						                            <input type="text" name="email" placeholder="Correo" autocomplete="off" class="form-control placeholder-no-fix">
						                        </div>
						                        <div class="modal-footer">
						                            <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
						                            <button class="btn btn-success" type="button">Enviar</button>
						                        </div>
						                    </div>
						                </div>
						            </div>
			                    </div>
			                </form>
						</div>

					</div>
				</div>
			</div>

	</section> 

{% endblock %}