{% extends 'base_admin.html' %}
{% load bootstrap3 %}

{% block title %}
    Consultar Maestros
{% endblock %}

{% block head %}         
        
{% endblock %}

{% block body %}

<div class="panel panel-ut" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
    <div class="panel-heading">
         Consultar Maestros
         <a href="{% url 'main:maestro_alta' %}" style="margin-top: -13px" class="btn btn-warning warning_22 pull-right">Agregar</a>
    </div>
    <div class="panel-body no-padding" style="display: block;">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Materias </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for maestro in maestros %}
                    <tr>
                        <td>{{ maestro.Nombre }} </td>
                        <td>
                        {% for materia in maestro.Materia.all %}
                           - {{materia.Nombre}}
                        {% endfor %}
                        </td>

                        <td>
                            <button type="button" class="btn btn-warning btn-circle" onclick="window.location='{% url 'main:maestro_editar' id=maestro.id %}'"><i class="glyphicon glyphicon-pencil"></i>
                            </button>

                            <button type="button" class="btn btn-danger btn-circle" class="alert btn btn-danger btn-circle" data-toggle="confirm" data-title="Desea eliminar maestro?" onclick="{% url 'main:maestro_eliminar' id=maestro.id %}"><i class="glyphicon glyphicon-trash"></i></button>
                            
                        </td>                 
                    </tr>
                      {% empty %}
                            <div class="alert alert-dismissible alert-warning">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <h4>No hay Maestros registrados aun!</h4>
                            <p>Para agregar un maestro, por favor presione "Agregar"</p>
                            </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
