{% extends 'base_admin.html' %}
{% load bootstrap3 %}

{% block title %}
    Consultar Administradores
{% endblock %}

{% block head %}         
        
{% endblock %}

{% block body %}


<div class="panel panel-ut" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
    <div class="panel-heading">
         Consultar Administradores
         <a href="{% url 'main:admin_alta' %}" style="margin-top: -13px" class="btn btn-warning warning_22 pull-right">Agregar</a>
    </div>
    <div class="panel-body no-padding" style="display: block;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Nombre</th>
                    <th>Contraseña</th>
                    <th>Permisos</th>
                    <th>Fecha de creación</th>
                    <th>Ultima modificación</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for administradores in admin %}
                <tr>
                    <td>{{ administradores.nom_user }} </td>
                    <td>{{ administradores.nombre }} </td>
                    <td>{{ administradores.contrasena }} </td>
                    <td>{{ administradores.tipo }} </td>  
                    <td>{{ administradores.fecha_creacion }} </td> 
                    <td>{{ administradores.fecha_modificacion }} </td> 
                    <td>
                        <button type="button" class="btn btn-warning btn-circle" onclick="window.location='{% url 'main:admin_editar' id=administradores.id %}'"><i class="glyphicon glyphicon-pencil"></i>
                        </button>

                        <button type="button" class="btn btn-danger btn-circle" onclick="window.location='{% url 'main:admin_eliminar' id=administradores.id %}'"><i class="glyphicon glyphicon-trash"></i></button>
                        
                    </td>                 
                </tr>
                  {% empty %}
                        <div class="alert alert-dismissible alert-warning">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4>No hay Administradores registrados aun!</h4>
                        <p>Para agregar un administrador, por favor presione "Agregar"</p>
                        </div>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="clearfix"> </div>





{% endblock %}
