{% extends 'base_admin.html' %}
{% load bootstrap3 %}

{% block title %}
 Alumnos registrados
{% endblock %}

{% block head %}         
        
{% endblock %}

{% block body %}

<div class="panel panel-ut" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
    <div class="panel-heading">
        Alumnos registrados
         <a href="{% url 'main:alumno_alta' %}" style="margin-top: -13px" class="btn btn-warning warning_22 pull-right">Agregar</a>
    </div>
    <div class="panel-body no-padding" style="display: block;">
        <table class="table table-striped">
            <thead>
                <tr>
                <th>Matricula</th>
                <th>Nombre</th>
                <th>Carrera</th>
                <th>Cuatrimestre - Grupo</th>
                <th>Fecha de creación</th>
                <th>Ultima Vez que ingreso</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
            {% for administradores in alumnos %}
                <tr>
                    <td>{{ administradores.username }} </td>
                    <td>{{ administradores.first_name }} {{ administradores.last_name }}  </td>
                    <td>{{ administradores.Carrera }} </td> 
                    <td>{{ administradores.Grupo }} </td> 
                    <td>{{ administradores.date_joined }} </td> 
                    <td>{{ administradores.last_login }} </td> 
                    <td>{{ administradores.password }} </td> 
                    <td>
                        <button type="button" class="btn btn-warning btn-circle" onclick="window.location='{% url 'main:alumno_editar' id=administradores.id %}'"><i class="glyphicon glyphicon-pencil"></i>
                        </button>

                        <button type="button" class="btn btn-danger btn-circle" class="alert btn btn-danger btn-circle" data-toggle="confirm" data-title="Desea eliminar alumno?" onclick="{% url 'main:alumno_eliminar' id=administradores.id %}"><i class="glyphicon glyphicon-trash"></i></button>
                        
                    </td>                 
                </tr>
                  {% empty %}
                        <div class="alert alert-dismissible alert-warning">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4>No hay Alumnos registrados aun!</h4>
                        <p>Para agregar un alumno, por favor presione "Agregar"</p>
                        </div>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
