{% extends 'base_sieda.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    Evaluación
{% endblock %}

{% block head %}         
        
{% endblock %}

{% block body %}
 
<div class="col-md-10">
    <div class="panel panel-ut" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
  <div class="panel-heading text-center">
  <h4>Abreviaturas</h4>
  
  </div>
  <div class="panel-body no-padding" style="display: block;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Maestros</th>
          <th>Nombre de la materia</th>
          <th> Abreviatura</th>   
        </tr>
      </thead>
      <tbody>

        {% for maestro in maestros %}
          {%  for materia in maestro.Materia.all %}
            <tr>
              <td>{{maestro.Nombre}}</td> 
              <td>{{materia.Nombre }} </td>
              <td>{{materia.Abrev_materia}}</td>                
            </tr>
          {% empty %}
            <div class="alert alert-dismissible alert-warning">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <h4>Parece que no estas registrado</h4>
              <p>Por favor avisa que te den de alta :)</p>
            </div>
          {% endfor %}
        {% endfor %}  
 
      </tbody>
    </table>

  </div>
</div>
<div class="panel panel-ut" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
    <div class="panel-heading text-center">
       <H4>  {{seccion.Descripcion}}</H4>
    </div>
    <div class="panel-body no-padding" style="display: block;">

<form action="{% url 'main:Guardar_evaluacion' id=NumSeccion %}" method="post"> 
     {% csrf_token %} 
     <table class="table table-striped">
        <thead >
        <tr>
            <th>Descripcion</th>
            {% for mat in materias %}
            <th> {{mat.Abrev_materia}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for pre in preguntas %}
                <tr>
                    <td>{{ pre.Descripcion }} </td>
                    {% for mat in materias %}
                    <td>
                        <select name="{{pre.id}}{{mat.id}}" class="btn btn-default">
                          <option value=1>1</option>
                          <option value=2>2</option>
                          <option value=3>3</option>
                          <option value=4>4</option>
                          <option value=5>5</option>
                        </select>
                    </td>      
                    {% endfor %}           
                </tr>
                  {% empty %}
            {% endfor %}
        </tbody>
</table>

<br>

    <button style="margin-top: -13px" name="cat" class="btn btn-warning warning_22 pull-right" type="submit" value='{{catalogo.id}}'>Siguiente</button>
    </form>

    </div>
</div>

<br>
<div class="clearfix"> </div>
</div>


  





{% endblock %}
