{% extends 'base_sieda.html' %}
{% load bootstrap3 %}

{% block title %}
    Evaluación
{% endblock %}

{% block head %}         
        
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-8">
    <div class="banner-bottom-video-grid-left">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-ut">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title asd">
              <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <span class="lnr lnr-chevron-down"></span><i class="lnr lnr-chevron-up"></i><label>Intrucciones</label>
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body panel_text">
              <p >Bienvenido alumno a la evaluación de docentes y administrativos donde se pretende calificar al maestro para tener resultados de su desempeño impartiendo su clase, así como también se calificara el tutor. A continuación se le mostraran los reactivos le pedimos que por favor conteste la evaluación honestamente.</p>
               <br>              
              <h4 class="text-center">Ponderaciones</h4>
              <p class="bold">La escala que se estará usando es del 1 al 5, equivalentes a:</p>
              <p class="bold">1 = Altamente en desacuerdo</p>
              <p class="bold">2 = En desacuerdo</p>
              <p class="bold">3 = Indiferente</p>
              <p class="bold">4 = De acuerdo</p>
              <p class="bold">5 = Totalmente de acuerdo</p>
            </div>
          </div>
        </div>
        <div class="panel panel-ut">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title asd">
              <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <span class="lnr lnr-chevron-down"></span><i class="lnr lnr-chevron-up"></i><label>Abreviaturas</label>
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
             <div class="panel-body panel_text">
              <table class="table table-striped">
                  <thead>
                      <tr>
                         <th>Maestros</th>
                          <th>Nombre de la materia</th>
                          <th> Abreviatura</th>   
                      </tr>
                  </thead>
                  <tbody>
                   {% for maestro in maestros %}
                      {%  for materia in maestro.Materia.all%}
                          <tr>
                              <td>{{maestro.Nombre}}</td> 
                              <td>{{materia.Nombre }} </td>
                              <td>{{materia.Abrev_materia}}</td>                
                          </tr>
                            {% empty %}
                                  <div class="alert alert-dismissible alert-warning">
                                  <button type="button" class="close" data-dismiss="alert">×</button>
                                  <h4>Parece que no estas registrado</h4>
                                  <p>Por favor avisa que te den de alta :)</p>
                                  </div>
                      {% endfor %}
                  {% endfor %}  
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
      <div class="banner-bottom-video-grid-left">
      <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
        <div class="panel panel-ut-v">
          <div class="panel-heading" role="tab" id="headingthree">
            <h4 class="panel-title asd">
              <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapsethree" aria-expanded="false" aria-controls="collapsethree">
                <span class="lnr lnr-chevron-down"></span><i class="lnr lnr-chevron-up"></i><label>Datos del Usuario</label>
              </a>
            </h4>
          </div>
          <div id="collapsethree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingthree">
             <div class="panel-body panel_text">
              <table class="table table-striped">
                  <thead>
                      <tr>
                         <th>Matricula:</th>
                          <th>Nombre:</th>
                          <th>Grupo:</th>
                          <th>Carrera:</th>   
                      </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>12304063</td> 
                        <td>Dalia Morales </td>
                        <td>11-1</td>  
                        <td>tics</td>                 
                    </tr> 
                  </tbody>
              </table>
                  <a href="{% url 'main:logout' %}" class="btn btn-danger btn-flat">Cerrar Sesión</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="panel panel-ut" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
    <div class="panel-heading text-center">
        {{seccion.Descripcion}}
    </div>
    <div class="panel-body no-padding" style="display: block;">

<form action="{% url 'main:Guardar_evaluacion' id=NumSeccion %}" method="post"> 
     {% csrf_token %} 
     <table class="table table-striped">
        <thead >
        <tr>
            <th>Descripcion</th>
            {% for mat in materias %}
            <th> {{mat.Nombre}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for pre in preguntas %}
                <tr>
                    <td>{{ pre.Descripcion }} </td>
                    {% for mat in materias %}
                    <td>
                        <select name="{{pre.id}}{{mat.id}}" class="btn btn-default">
                          <option value=1>1</option>
                          <option value=2>2</option>
                          <option value=3>3</option>
                          <option value=4>4</option>
                          <option value=5>5</option>
                        </select>
                    </td>      
                    {% endfor %}           
                </tr>
                  {% empty %}
            {% endfor %}
        </tbody>
</table>

<br>

    <button style="margin-top: -13px" class="btn btn-warning warning_22 pull-right" type="submit" value='{{NumSeccion}}'>Siguiente</button>
    </form>

    </div>
</div>
<div class="clearfix"> </div>

{% endblock %}
