{% extends 'base_sieda.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    Evaluación
{% endblock %}

{% block head %}         
        
{% endblock %}

{% block body %}
 
<div class="col-md-10">
    <div class="panel panel-ut" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
</div>

<div class="panel panel-ut" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
    <div class="panel-heading text-center">
       <H4>  {{seccion.Descripcion}}</H4>
    </div>
    <div class="panel-body no-padding" style="display: block;">

<form action="{% url 'main:Guardar_evaluacionSencilla' id=NumSeccion %}" method="post" onsubmit="return confirm('la información es correcta?');"> 
     {% csrf_token %} 
     <table class="table table-striped">
        <thead >
        <tr>
            <th>Descripcion</th>
            <th>  --  </th>
        </tr>
        </thead>
        <tbody>
            {% for pre in preguntas %}
                <tr>
                    <td>{{ pre.Descripcion }} </td>
                    <td>
                        <select name="{{pre.id}}" class="btn btn-default">
                          <option value=1>1</option>
                          <option value=2>2</option>
                          <option value=3>3</option>
                          <option value=4>4</option>
                          <option value=5>5</option>
                        </select>
                    </td>             
                </tr>
                  {% empty %}
            {% endfor %}
        </tbody>
</table>

<br>

    <button style="margin-top: -13px" name="cat" class="btn btn-warning warning_22 pull-right" type="submit" value='{{catalogo.id}}'>Siguiente</button>
    </form>

    </div>
</div>

<br>
<div class="clearfix"> </div>
</div>

  





{% endblock %}
