  {% extends 'base_sieda.html' %}
  {% load bootstrap3 %}

  {% block title %}
  Evaluación
  {% endblock %}

  {% block head %}         

  {% endblock %}

  {% block body %}   
  <div class="col-md-10">
  <div class="panel panel-ut" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
    <div class="panel-heading text-center">
    </div>
    <form action="{% url 'main:fin' %}" method="post"> 
     {% csrf_token %} 
      <div class="panel-body no-padding" style="display: block;">
        <br>
        <p>Si lo desea, ingrese una sugerencia o comentario.</p>
        <br>
        <label for="comment">Comentarios:</label>
        <textarea class="form-control" rows="5" name="comen"></textarea>
        <br>

        <button style="margin-top: -13px" name="cat" value="{{catalogo.id}}" class="btn btn-warning warning_22 pull-right" type="submit">Guardar</button>
      </div>
    </form>
  </div>
</div>

  {% endblock %}