{% extends 'base_admin.html' %}

{% block title %}
Principal
{% endblock %}

      
{% block head %} 
<h1 class="page-header">
Portal Administrativo
</h1>        
{% endblock %}


{% block body %}

<div class="col_3">
	<div class="col-md-3 widget widget1">
		<div class="r3_counter_box">
			<i class="fa fa-mail-forward"></i>
			<div class="stats">
			  <h5>{{ maestros_total}}</h5>
			  <div class="grow">
				<p>Maestros</p>
			  </div>
			</div>
		</div>
	</div>
	<div class="col-md-3 widget widget1">
		<div class="r3_counter_box">
			<i class="fa fa-users "></i>
			<div class="stats">
			  <h5>{{ alumnos_total}}</h5>
			  <div class="grow grow1">
				<p>Alumnos</p>
			  </div>
			</div>
		</div>
	</div>
	<div class="col-md-3 widget widget1">
		<div class="r3_counter_box">
			<i class="fa fa-star"></i>
			<div class="stats">
			  <h5>{{tutores_total}}</h5>
			  <div class="grow grow3">
				<p>Tutores</p>
			  </div>
			</div>
		</div>
	 </div>
	 <div class="col-md-3 widget">
		<div class="r3_counter_box">
			<i class="fa fa-map"></i>
			<div class="stats">
			  <h5>{{ carreras_total}}</h5>
			  <div class="grow grow2">
				<p>Carreras</p>
			  </div>
			</div>
		</div>
	</div>
	<div class="clearfix"> </div>
</div>


{% endblock %}