{% extends 'base_admin.html' %}

{% block title %}
Principal
{% endblock %}

      
{% block head %} 
<h1 class="page-header">
Portal Administrativo
</h1>        
{% endblock %}


{% block body %}
<div class="row">
	<div class="col-md-4 col-sm-4">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<h3 >Administradores</h3>
				<br>
			</div>
		<div class="panel-body">
			<strong>Numero de administradores Registrados:</strong> {{ admin_total}}
			<br>
			<br>
			<button type="button" class="btn btn-success btn-circle" onclick="window.location='{% url 'main:admin_alta' %}'"><i class="glyphicon glyphicon-plus"></i></button>

		</div>
		<div class="panel-footer"></div>
		</div>
	</div>
</div><!--/.row-->
{% endblock %}