{% extends 'base_admin.html' %}
{% block title %}
Principal
{% endblock %}

      
{% block head %} 
<h1 class="page-header" style="margin-top: -8px;">
Portal Administrativo
</h1>        
{% endblock %}


{% block body %}
	<div class="col-md-3 widget widget1">
		<div class="r3_counter_box ">
			<i class="fa fa-graduation-cap"></i>
			<div class="stats">
			  <h5>{{ alumnos_total}}</h5>
			  <div class="grow grow1">
				<p>Alumnos</p>
			  </div>
			</div>
		</div>
	</div>
	<div class="col-md-3 widget widget1">
		<div class="r3_counter_box">
		<div class="f">
			<i class="fa fa-graduation-cap"></i>
			<div class="stats">
			  <h5>{{alumnos_faltantes}}</h5>
			  <div class="grow grow3">
				<p>Alum. Faltantes</p>
			  </div>
			</div>
		</div>
		</div>
	 </div>
<!--
<div class="col_12">
	<div class="col-md-3 widget widget1">
		<div class="r3_counter_box">
			<i class="fa fa-users"></i>
			<div class="stats">
			  <h5>{{ tutores_total}}</h5>
			  <div class="grow">
				<p>Tutores</p>
			  </div>
			</div>
		</div>
	</div>
	 <div class="col-md-3 widget">
		<div class="r3_counter_box">
			<i class="fa fa-map"></i>
			<div class="stats">
			  <h5>{{ carreras_total}}</h5>
			  <div class="grow grow2">
				<p>Carreras</p>
			  </div>
			</div>
		</div>
	</div>
-->	

	<div class="xs">
		<div class="col-md-6 email-list1">
			<ul class="collection" id="Cambios">
			<h4 class="text-center">Actividad Reciente</h4>
			<hr>
			</ul>
		</div>
	</div>
</div>


{% endblock %}